
@font-face {
    font-family: 'MPLUSRounded1c-Bold';
    src: url(..\..\assets\fonts\MPLUSRounded1c-Bold.ttf);
  }

@font-face {
    font-family: 'MPLUSRounded1c-Regular';
    src: url(..\..\assets\fonts\MPLUSRounded1c-Regular.ttf);
  }



.HP-mainbox{
    display: inline-block;
}


.HP-contentBox{
    float: left;
    padding-left: 10%;
    width:40%;
    margin-top: 7%;
}

.HP-titleBox{
    /* font-family: "Nunito Sans", sans-serif; */
    font-family: 'MPLUSRounded1c-Bold';
    font-weight: 700;
    font-size: 60px;
    color: black;
    line-height: 70px;
    /* font-weight : 1; */
}


.HP-text{
    font-family: "MPLUSRounded1c-Regular";
    color: black;
    font-size: 22px;    
    font-size: 22px;
    line-height: 30px;
    text-align: left;
    margin-top: -8%;
}


.HP-imgbox{
    float: right;
    width: 40%;
    padding-right: 7%;
    padding-top: 5%;
}

.HP_Img{
    width: 90%;
}


@media (max-width: 900px) {
    .HP-imgbox{
        height: 80%;
    }

    .HP_Img{
        position: relative;
        width: 90%;
        height: 500px;
    }
  }