.searchbar{
    display: flex;
    justify-content: center;
    align-content: center;
    margin-top: 5%;
    
    
}

.searchinput {
    background-color: #ffffff;
    border: 2px solid #000000;
    border-radius: 5%;
    width: 40%;
    height: 50%;
    
}