

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 100px auto; /* Center the container horizontally on the page */
    /* width: 800px; */
    margin-left: 100px;
    margin-right: 100px;
    overflow: visible;
    transition: transform 0.3s ease;
  }
  
  .left-container,
  .center-container,
  .right-container {
    border: 1px solid black;
    border-radius: 15px;
    width: 20%; 
    padding-top: 20%; 
    transition: transform 0.5s ease;
    box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.25) !important;
    overflow: visible;
  }
  
  .center-container {
    width: 35%; 
    padding-top: 35%; 
    margin: 0 6%; 
  }

  .center-container:hover{
    transform: scale(1.1);
    cursor: pointer;
    box-shadow: 14px 8px 8px rgba(0, 0, 0, 0.25) !important;
  }
  
  .left-container,
  .right-container{
    opacity: 0.5;
  }

  .left-container .my-button,
  .right-container .my-button {
    opacity: 1; /* Set opacity to 1 (fully opaque) */
  }

  @media (max-width: 800px) {
    .left-container,
    .right-container {
      display: none;
    }
  }
  
  /* Display center-container for screens smaller than 800px */
  @media (max-width: 800px) {
    .center-container {
      transform: scale(1.5);
    }
  }
  @media (max-width: 600px) {
    .center-container {
      transform: scale(2.0) !important;
    }
  }
  @media (max-width: 420px) {
    .center-container {
      transform: scale(3.0) !important;
    }
  }
  @media (max-width: 800px) {
    .center-container {
      transform: scale(1.5);
    }
  }








   /* ARROW BUTTON STYLES */

  .my-button-container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }


  

  .arrow-box {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-bottom: 5%;
    margin-top: -7%;
  }
  .arrow-text{
    width: 30%;
  }
  
  
  .arrow-box h3 {
    font-size: larger;
    color: black;
  }
  
  .arrow-box p{
    font-family: 'Rounded Mplus 1c Bold' ;
    font-weight:100;
    color: rgb(107, 107, 107);
    font-size: medium;
  }
  
  
  .arrow-box .arrow-right,
  .arrow-box .arrow-left
   {
    width: 40px; 
    height: 40px; 
    margin: 0 10px;
    color:#4FE8F2;
    cursor: pointer;
  }

  .arrow-box .arrow-right:hover,
  .arrow-box .arrow-left:hover{
    transform: scale(1.2);
  }

  .arrow-box .arrow-right.end:hover,
  .arrow-box .arrow-left.end:hover{
    transform: scale(1);
  }



  .arrow-box .arrow-left {
    margin-left: auto; /* Push the first arrow to the left */
  }
  
  .arrow-box .arrow-right {
    margin-right: auto; /* Push the last arrow to the right */
  }
  

  .arrow-box .arrow-right.end,
  .arrow-box .arrow-left.end
   {
    color: #F0F1F2;
    cursor: default;
   }

