/*  */
.player {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 100%;
    color: black;
    /* background-color: white; */
    /* background-image: url("img.png"); */
    background-repeat: no-repeat;
    background-position: right center;
    background-attachment: fixed;
    overflow: hidden;
}

.player-sub-container {
    margin-top: 3%;
    padding: 2% 7%;
    border-radius: 20px;
    outline: 1px solid black;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    width: 60%;
    height: 90%;
    /* overflow-y: scroll;
    direction: rtl; */
    margin-bottom: 100px;
    /* Add margin to create space */
    /* height: 100vh; */
    min-height: 500px;
    /* Set a minimum height to ensure enough content */
    background-color: #ffffff;

}


.player-text-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    /* margin-top: 10%; */

}

.player-text {
    font-family: "Noto Nastaliq Urdu", serif;
    font-weight: 400;
    font-size: 24px;
    line-height: 67.2px;
    text-align: right
}

.audio-player-container {
    top: 80%;
    position: fixed;
    margin-top: 3%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 124px;
    box-shadow: 0px -5px 10px rgba(0, 0, 0, 0.25);
    /* background-color: #ffffff; */
    background-color: #FFFC00;
}

.audio-player-img-name-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    margin-left: 100px;
    margin-bottom: 28px;

}

.audio-player-img {
    width: 66.28px;
    height: 50px;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 8px;
}

.audio-player-name {
    font-family: open sans;
    font-weight: 600;
    font-size: 18px;
    line-height: 15.2px;
    text-align: left;
    margin-bottom: 10.5%;
    margin-top: 5%;
}
.audio-player-author {
    font-family: open sans;
    font-weight: 400;
    font-size: 14px;
    line-height: 10.2px;
    text-align: left;
    margin-bottom: 3.5%;
}


@media screen and (min-width:1000px) and (max-width:1300px) {

    .audio-player-img {
        margin-left: -20px !important;
        margin-right: 2px;
    }

}



@media screen and (min-width:300px) and (max-width:1000px) {
    .player {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        width: 100%;
        height: 100%;

        /* background-image: url("img.png"); */
        background-repeat: no-repeat;
        background-position: right center;
        background-attachment: fixed;
        /* background size reduce */
        background-size: 50% 50%;
        outline: 3px solid black;

    }

    .player-sub-container {
        padding-top: 20%;
        padding-left: 2%;
        padding-right: 2%;

        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: flex-start;
        margin-bottom: 59%;
        margin-top: 10%;

    }

    .player-text-box {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        /* margin-top: 10%; */
        /* background-color: black; */
        margin-left: 32px;
        margin-right: 32px;
        margin-bottom: 15%;
        margin-top: -20%;

    }

    .player-text {
        font-family: "Noto Nastaliq Urdu", serif;
        font-weight: 400;
        /* font-size: 22px; */
        line-height: 67.2px;
        text-align: right;
    }

    .audio-player-container {
        top: 68%;
        position: fixed;
        display: flex;
        flex-direction: column-reverse;
        justify-content: flex-end;
        align-items: center;
        margin-top: 5%;
        width: 100%;
        height: 298px;
        box-shadow: 0px -5px 10px rgba(0, 0, 0, 0.25);
    }

    .audio-player-img-name-container {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        margin-left: 0px;
        margin-top: 24px;
    }

    .audio-player-img {
        width: 66.28px;
        height: 85.52px;
        margin-left: 0px;
        margin-right: 0px;
        border-radius: 8px;
    }

    .audio-player-name {
        font-family: open sans;
        font-weight: 400;
        font-size: 16px;
        line-height: 19.2px;
        text-align: left;
        margin-bottom: 0%;
        margin-top: 8.48px;
    }
}