.Footer {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin-left: 10%;
    margin-bottom: 2%;
    margin-top: 5%;
}
.Footer p{
    display: inline-block;
    margin-right: 40px;
    margin-left: 10px;
    color: black;
}


.Footer-icon{
    color:black;
    padding-top: 5px;
    transform: translateY(5px);
    /* margin-right: 5px; */
}


@media (max-width: 885px) {
    .Footer {
        flex-direction: column;
        align-items: center;
        text-align: center;
        width: 100%;
    }
}