/* App.css */

/* Apply styles to the HTML and body elements to make them cover the entire viewport */
html, body {
  height: 100%;
  margin: 0 0 0 0;
  padding: 50px 50px 50px 50px;
}

/* Apply styles to the App component to make it cover the entire viewport */
.App {
  height: 100%;
  margin: 50px;
  padding: 50px 50px 50px 50px;

}

/* Add any additional styles for your App component here */

