:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}


body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  background-color: #FFFC00;
}


/* index.css */

/* Style for the left pattern */
.leftpattern {
  position: fixed;
  top: 0;
  left: 0;
  width: 50px; /* Adjust the width as needed */
  height: 100%; /* Cover the entire height of the viewport */
  /* background-image: url('./assets/side_pattern.png');
  background-repeat: repeat-y; */
}

/* Style for the right pattern */
.rightpattern {
  position: fixed;
  top: 0;
  right: 0;
  width: 50px; /* Adjust the width as needed */
  height: 100%; /* Cover the entire height of the viewport */
  z-index: -1;
}


